.exchange-convert {
    &-block {
        display: inline-block;
        padding-left: 30px;
    
        > span {
            font-weight: 600;
        }
    }
}

.ui {
    &.basic {
        &.button,
        &.buttons,
        &.btn.btn-accent {
            border: none;
            box-shadow: none;
            font-weight: 600;
            border-bottom: 1px solid;
            border-radius: 0;
            padding: 10px 0;

            &:hover {
                box-shadow: none;
            }
        }
    }

    &.grid.exchange-result-page {
        margin-top: 50px;
        margin-left: 0;
        padding: 10px 20px;
        box-shadow: 0 0 14px #efefef;
    }
}

.search-form {
    padding-bottom: 50px;
}